<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="Bricks">
      <section name="Bricks" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <White>
    <Core>
      <add key="WorkSessionLocation" value="." />
      <add key="PopupTimeout" value="50000" />
      <add key="TooltipWaitTime" value="0" />
      <add key="SuggestionListTimeout" value="30000" />
      <add key="BusyTimeout" value="500000" />
      <add key="WaitBasedOnHourGlass" value="true" />
      <add key="UIAutomationZeroWindowBugTimeout" value="50000" />
      <add key="TooltipWaitTime" value="30000" />
      <add key="DragStepCount" value="4" />
    </Core>
  </White>
  <Bricks>
    <Bricks>
      <add key="RecheckDurationInMilliseconds" value="101" />
    </Bricks>
  </Bricks>
</configuration>
